<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
    <img src="/mini.png" width="50" border="0" valign="middle"> {{ site.title }}</a>
    <br/>
    <nav class="site-nav">
      <div class="trigger">
          <a class="page-link" href="/module-0">Getting Started</a>
          <a class="page-link" href="/module-1">Mod. 1 </a>
          <a class="page-link" href="/module-2">Mod. 2</a>
          <a class="page-link" href="/module-3">Mod. 3</a>
          <a class="page-link" href="/module-4">Mod. 4</a>
          <a class="page-link" href="/module-5">Mod. 5</a>
          <a class="page-link" href="/module-6">Mod. 6</a>
          <a class="page-link" href="/module-7">Mod. 7</a>
          <a class="page-link" href="/module-8">Where to next?</a>
      </div>
    </nav>

  </div>

</header>
